body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

#answers button {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#timer {
  font-size: 20px;
  font-weight: bold;
}
